.fav {
  display: flex;
  .card {
    text-align: center;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-top: 3%;
    width: 70%;
    overflow-wrap: break-word;
    padding: 2%;
    .header {
      img {
        width: 40px;
        border-radius: 50%;
      }
    }
  }
}
